.dropdown-menu {
  width: 100%;
  height: max-content;
  position: absolute;
  top: 80px;
  left: 0;
  list-style: none;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(232, 233, 233);
}
.dropdown-menu li {
  cursor: pointer;
}
.left {
  margin: 50px;
}

.right {
  margin-right: 70px;
  display: flex;
}
.dropdown-menu li:hover {
  background-color: #bbd9f8;
}
.line {
  border: 1px solid #c4c4c4;
  height: 180px;
}
/*
.dropdown-menu.clicked {
  display: none;
} */

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #010101;
  margin: 5px;
}
.drop-img {
  height: 180px;
  width: 180px;
  margin: 10px;
  cursor: pointer;
}
